/* .login-heading {
    font-weight: 300;
    letter-spacing: 0.25rem;
} */

.form-container {
    padding: 0 0 0 0;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.name-field {
    line-height: 2.5;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
}

.form-container input {

    border-radius: 100px;
    border: solid 1px rgba(0, 0, 0, 0.39);
/* 
    padding: 2px; */
}

.form-container input [type="checkbox"] {


    border: solid 1px rgba(0, 0, 0, 0.39);
    /* margin: 10px auto; */
    /* padding: 5px; */
    margin-left: 4rem;
}

.left-aligned {

    display: flex;
    justify-content: space-between;
    margin-left: 3.9rem;
    font-size: small;
    padding-left: 15px;
    padding-top: 13px;
    
}

.top-spacer {
    margin-top: 20px;
}

@media screen and (max-width: 1200px) {

    .left-aligned {

        display: flex;
        justify-content: space-between;
        margin-left: 2rem;
    }

    .fgt-pwd {
        margin-right: 4rem;
        padding-top: 2px;
        display: inline-block;
    }
    .fgt-pwd {
        margin-right: 1rem;
        padding-top: 2px;
        display: inline-block;
    }
    .name-field {
        line-height: 2;
        width: 90%;
    }
}