

.login-heading {
    font-weight: 300;
    letter-spacing: 0.25rem;
}

.login-welcome {
    color: blueviolet;
}


.hori-ruler {
    width: 80%;
    display: block;
    height: 2px;
    background-image: linear-gradient(rgba(255, 0, 208, 0.72), rgb(119, 0, 255));
    margin: 10px auto;
}


.no-padding {
    margin: 0;
}