.card-container {
  width: 550px;
  height: 350px;
  background-color: #f5f3f3e3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Small shadow */
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.App {
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  background-color: #f5f3f3e3;
  padding-top: 15px;
}

.center-text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header {
  position: absolute;
  display: flex;
  background: #7758D1;
  color: #fff;
  padding-bottom: 10px;
  height: 40px;
  max-width: 100vw;
  width: 100vw;
  margin: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.positionRelative {
  position: relative;
}

.positionAbsoluteRight {
  position: absolute;
}

.positionAbsoluteLeft {
  position: absolute;
}

.positionAbsoluteBottom {
  position: absolute;
}

.positionAbsoluteTop {
  position: absolute;
}

headerStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #fff;
  padding: 1rem;
}

.avatarStyle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.notificationButtonStyle {
  background-color: #fff;
  border-radius: 50%;
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
  color: #333;
  border: none;
  outline: none;
}

.menu-class {
  width: 200px;
}