.card-container {
  width: 550px;
  height: 350px;
  background-color: #f5f3f3e3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Small shadow */
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  background-color: #f5f3f3e3;
  padding-top: 15px;
}

.center-text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}